* {
    font-family: 'Audiowide', sans-serif;
}

#main {
    background-image: url('../assets/background.gif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}